body {
    color: rgb(235, 47, 47);
    background: rgb(5, 21, 243);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(245, 15, 103);
    padding: 20px;
    font-size: 32px;
    color: rgb(4, 203, 218);
}

.chamada {
    background: rgb(119, 8, 238);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
body {
    color: rgb(26, 4, 4);
    background: rgb(190, 192, 58);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(194, 219, 81);
    padding: 20px;
    font-size: 32px;
    color: rgb(14, 96, 202);
}

.chamada {
    background: rgb(57, 2, 116);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(114, 93, 230);
}

.categoria h2 {
    color: rgb(221, 10, 158);
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(56, 26, 190);
}

.categoria h2 {
    color: rgb(253, 15, 15);
}